<!-- Navbar -->
<div id="navbar" class="ui inverted segment">
    <div id="navbar-menu" class="ui inverted fixed menu">
        <!-- PollsPoller Heading and Logo -->
        <a href="/" id="brand-name" class="item">
                <img id="navbar-logo" src="/img/logo.png">
                &nbsp;Polls Poller
        </a>
        <!-- Menu on Right -->
        <div class="right menu">
            <!-- Forums Button -->
            <a class="item">Forums</a>
            <!-- Polls Dropdown -->
            <div class="ui dropdown link item">
                <span class="text">Polls</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/polls/show?sort=trending" class="item">Trending Polls</a>
                    <a href="/polls/show?sort=recent" class="item">Recent Polls</a>
                    <a href="/polls/show" class="item">All Polls</a>
                </div>
            </div>
            <!-- Login/Signup Dropdown -->
            <!-- Display Login/Signup if user not Logged in -->
            <% if(!user) { %>
                <a href="/loginsignup" class="item">Login/Signup</a>
            <% } else {%>
            <!-- If logged in, display the Welcome dropdown -->
                <div class="ui dropdown link item">
                    <span class="text">Welcome <%= user.username %></span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">Your Polls</a>
                        <a href="/polls/new" class="item">Create New Poll</a>
                        <a class="item">Profile</a>
                        <a href="/logout" class="item">Logout</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>