<!-- Navbar -->
<div id="navbar" class="ui inverted segment">
    <div id="navbar-menu" class="ui inverted fixed menu">
        <!-- PollsPoller Heading and Logo -->
        <a href="/" id="brand-name" class="item">
                <img id="navbar-logo" src="/img/logo.png">
                &nbsp;Polls Poller
        </a>
        <!-- Menu on Right -->
        <div class="right menu">
            <!-- Forums Button -->
            <a class="item">Forums</a>
            <!-- Polls Dropdown -->
            <div class="ui dropdown link item">
                <span class="text">Polls</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">Trending Polls</a>
                    <a class="item">Recent Polls</a>
                    <a class="item">All Polls</a>
                </div>
            </div>
            <!-- Login/Signup Dropdown -->
            <a class="item">Login/Signup</a>
        </div>
    </div>
</div>