#question {
    padding-top: 20px;
}

.reply-form {
    margin-top: 10px;
}

.ui.comments {
    max-width: 100%;
}

.delete-reply {
    float: right;
    color: orangered;
}

.delete-reply:hover {
    cursor: pointer;
}


@keyframes spin{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.edit-spinner{
    width: 16px;
    height: 16px;
    margin: 0;
    animation: 1s linear spin infinite;
}

.delete-spinner {
    float: right;
    animation: 1s linear spin infinite;
}