#question {
    padding-top: 20px;
}

.reply-form {
    margin-top: 10px;
}

.ui.comments {
    max-width: 100%;
}

.delete-reply {
    float: right;
    color: orangered;
}

.delete-reply:hover {
    cursor: pointer;
}