#poll-container {
    max-width: 800px !important;
}

#tag {
    display: inline-block;
    float: right;
}

.header {
    overflow-wrap: break-word;
}

.option-body {
    max-width: 60vw;
    overflow-wrap: break-word;
}

.option-item {
    padding: 5px !important;
    border-radius: 10px;
}

.highlighted {
    background-color: #21ba45a8;
}

.warning.sign.icon {
    color: red;
}