<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Discussion</title>

    <!-- Include Required Common StyleSheets and Scripts -->
    <% include ./partials/header.ejs %>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/discussion.css">
    <!-- Custom JS -->
    <script src="/js/discussion.js"></script>

</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- Main Container -->
<div class="ui container">
    <!-- data-id stores id of poll -->
    <div data-poll-id="<%= poll._id %>" id="outer-replies" class="ui large threaded comments">
        <!-- Poll Question -->
        <h1 id="question" class="ui dividing header"><%= poll.question %></h1>

        <!-- Comments -->
        <div id="outer-comments-box" class="replies-box">
            <!-- Individual Comments to be added by JS -->
        </div>

        <!-- Load Replies Spinner -->
        <div id="spinner-container" style="display:none;"><i id="replies-spinner" class="big spinner icon"></i></div>

        <!-- Outermost Reply Form -->
        <form class="ui form reply-form">
            <!-- TextArea -->
            <div class="field">
                <textarea class="outer-reply-text" rows="2"></textarea>
            </div>
            <!-- Reply Button -->
            <div class="ui blue labeled submit icon button outer-reply-button">
                <i class="icon edit"></i> Add Reply
            </div>
        </form>
    </div>
</div>
<!-- END Main Container -->

</body>
</html>