<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Polls Poller</title>

    <% include ./partials/header.ejs %>

</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- Landing Section -->
<div id="front-section" class="ui inverted segment">
	<div class="ui text container">
		<h1 id="page-heading" class="ui inverted">
			Polls Poller
		</h1>
		<h2>Vote your Opinion</h2>
		<a href="#" class="ui huge primary button">Get Started &nbsp;<i class="chevron down arrow icon"></i></a>
	</div>
</div>

</body>
</html>