<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Polls Poller</title>
</head>
<body>

Polls Poller
<!-- Login/Signup Button -->
<a href="/loginsignup">Login | Signup</a>
<!-- Create Poll Button -->
<a href="/polls/new">Create new Poll</a>

</body>
</html>