<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Poll | PollsPoller</title>

    <!-- Include jQuery and Custom JS -->
    <script src="/lib/jquery.js"></script>
    <script src="/js/newpoll.js"></script>
</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- Question Input -->
<input id="question" type="text" name="question" placeholder="Enter your Poll Question:">

<!-- Add new option Form -->
<input id="new-option" type="text" placeholder="New Option">
<button id="add-option-btn">+</button>

<!-- Display options List -->
<ol id="options"></ol>

<!-- Create Poll Button -->
<button id="create-poll-btn">Create Poll</button>

</body>
</html>