<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Poll | PollsPoller</title>

    <% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/css/newpoll.css">
    <script src="/js/newpoll.js"></script>
</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<section>
    <!-- Main Poll Container -->
    <div id="poll-container" class="ui container">
        <h1 class="header">Create New Poll</h1>
        <div class="ui form">
            <!-- Question Input -->
            <div class="field">
                <input id="question" type="text" name="question" placeholder="Enter your Poll Question:">
            </div>

            <!-- Add new option -->
            <div class="inline fields">
                <div class="fourteen wide field">
                    <input id="new-option" type="text" placeholder="New Option">
                </div>
                <div class="two wide field">
                    <button id="add-option-btn" class="ui button">+</button>
                </div>
            </div>

            <!-- Options List -->
            <div class="ui segment">
                <div id="options" class="ui relaxed divided list">
                    <!-- Options to be added by JS -->
                </div>
            </div>

            <!-- Create Poll Button -->
            <button id="create-poll-btn" class="ui primary button">Create Poll</button>

            <!-- Loading Icon -->
            <i id="loading-icon" class="large circle notched loading icon" style="display: none;"></i>
            <!-- ERROR Icon if occurs -->
            <span id="error-icon" data-inverted="" data-tooltip="Error Creating Poll!" data-position="right center"
                  style="display: none;">
                <i class="large warning sign icon"></i>
            </span>
        </div>

    </div>

</section>

</body>
</html>